{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página No Encontrada (404)</title>
    <style>
        body {
            text-align: center;
            padding-top: 50px;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h1>¡Ups! Página no encontrada (404)</h1>
    <img src="{% static 'img/frieren.gif' %}" alt="Not Found GIF" style="width:300px;height:auto;">
    <p>Lo sentimos, la página que buscas no existe o ha sido removida.</p>
    <a href="/">Volver al Inicio</a>
</body>
</html>
